---
---
@charset "utf-8";
// Your custom css /scss here
$enable-responsive-font-sizes: true;
$isize: 24px;
$psize: calc(#{$isize} - 2px);

input {
  font-size: $isize;
}

p {
  font-size: $psize;
}

img[alt=GLGT_Logo] {
  max-width: 60%;
}

img[alt=GLGT_vCARD] {
  max-width: 35%;
}
